<html>
  <head>
    <base target="_top">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.7.2/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,600|Source+Code+Pro">
    <link rel="stylesheet" href="<%= get_config("root") %>css/style.css">
    <style>
      .widget .media:not(:last-child) {
          margin-bottom: 0.75rem;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script type='text/javascript'>
      $(function(){
        const iframe = $("#widget-<%= page.widget.type %>", window.parent.document);
        const resize = function() {
          $(document.body).width(iframe.width());
          // $(document.body).height($("#content").height());
          // console.log('body size changed', $(document.body).width(), iframe.width()
        }
        $(document).on("load", resize);
        $(document).ready(resize);
        // resize();
      });
    </script>
  </head>
  <body style="display: none;">
    <div id="content" class="widget" style="background-color: white">
      <%- partial(`widget/content/${page.widget.type}`, {widget: page.widget}) %>
    </div>
  </body>
</html>
