<div class="card widget">
  <div class="card-content">
    <div class="timeline">
      <% if (typeof(head) !== 'undefined' && head) { %>
        <h3 class="tag is-link">
          <%= head %>
        </h3>
      <% } %>
      <% posts.each(post => { %>
        <%- partial("component/item", {post}) %>
      <% }) %>
    </div>
  </div>
</div>
